
<div id="main-content" style="display: block">
  <h1> EmotionAll </h1>

  <h2> All the World's Emotions </h2>

  <p> Have you ever wondered what someone else was feeling? So often we interact with others, yet so rarely do we really delve into what is below the surface: our emotional disposition. Yet that said, embued inherently in each and every one of our social interactions is an emotional element; it's just more below the surface. </p>

  <p> EmotionAll understands this and looks to solve this emotional concern. By using geolocated, content-driven Twitter data and the powerful AlchemyAPI Sentiment Analysis tool, we are able to extract emotion from otherwise mechanical social media interactions. This plethora of data is then transferred onto a 'heat map' of the world, whereby the emotional information suddenly transforms into a beautifully colored picture of the emotional state of the world at this moment. </p>

  <p> We believe that it is innovative approaches like these -- taking words and transforming them into the true meaning (emotions) that they represent -- that are what will ultimately drive social media forwards towards a place that is inevitable: a single, emotional and visual means of interacting with the people around us. </p>

  <p> Maybe we aren't so different from one another than we are made out to be after all. </p>

  <p> Come on in and see for yourself. </p>
</div>
