/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#front-container {
  background-color: #0099cc;
  padding: 240px 0;
  width: 100%;
}

#front-container #logo {
  cursor: pointer;
}

#front-container h1 {
  color: #FFF;
  font-size: 6.0em;
  display: inline;
  letter-spacing: 4px;
}

#front-container .btn {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  margin: 64px 24px 40px;
  display: inline;
  width: 80px;
  text-align: center;
  outline: none;
}

#front-container .btn:hover {
  background-color: #FFF;
  color: #0099cc;
}

#front-container ul {
  margin: 0 auto;
  max-width: 300px;
}

#outer-map-container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  background-color: #FFF;
  text-align: center;
}

#outer-map-container h1 {
  font-size: 3.0em;
}

#outer-map-container h2 {
  font-size: 3.4em;
  color: #0099cc;
}

#outer-map-container ul {
  width: 72%;
  text-align: center;
  margin: 16px auto;
}

#outer-map-container ul li a {
  color: #FFF;
  font-size: 1.0em;
  background-color: #0099cc;
  padding: 12px;
  line-height: 56px;
  border-radius: 4px;
  border: 1px solid #0099cc;
}

#outer-map-container ul li a:hover {
  text-decoration: none;
  background-color: #FFF;
  color: #0099cc;
  border: 1px solid #0099cc;
}

#key {
  margin-left: 24px;
  width: 160px;
  position: absolute;
  border: 1px solid #00cc99;
  border-radius: 4px;
  z-index: 1000;
}

#key .legend-header {
  font-weight: bold;
  text-align: right;
  padding: 4px 8px 4px 4px;
  background-color: #00cc99;
}

#key .legend-body {
  text-align: left;
  padding: 4px 4px 4px 8px;
}

#about-container {
  background-color: #00cc99;
  padding: 48px;
  width: 100%;
}

#about-header {
  padding-bottom: 40px;
}

#about-container h3, #about-container dl, #about-container dd {
  color: #ffffe4;
  letter-spacing: 1px;
}

#about-container a {
  background-color: #ffffe4;
  color: #00cc99;
}

#about-container a:hover {
  text-decoration: none;
  background-color: #00cc99;
  color: #ffffe4;
}

#about-container h1 {
  font-size: 3.2em;
  color: #ffffe4;
  margin-left: -24px;
}

#about-container h3 {
  font-weight: normal;
}

#about-container dl {
  font-size: 1.4em;
}

#about-container dd {
  padding-bottom: 12px;
}

.scroll-icon {
  margin: 160px auto;
  font-size: 3.0em;
}

.scroll-icon a {
  color: #FFF;
}

.scroll-icon a:hover {
  background-color: transparent;
  text-decoration: none;
}

p.errors-txt {
  color: #FF0000;
  font-size: 0.8em;
  font-weight: bold;
}

footer {
  height: 64px;
  background-color: #0099cc;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  letter-spacing: 2px;
}

footer .footer-text {
  vertical-align: middle;
  color: #FFF;
  margin: 0 auto;
  font-size: 1.0em;
}
