/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#front-container {
  background-color: #0099cc;
  padding: 240px 0;
  width: 100%;
}

#front-container h1 {
  color: #FFF;
  font-size: 6.0em;
  display: inline;
  letter-spacing: 4px;
}

#front-container .no-fade {
  opacity: 1.0 !important;
}

#front-container .btn {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  margin: 64px 24px 40px;
  display: inline;
  width: 80px;
  text-align: center;
}

#front-container .btn:hover {
  background-color: #FFF;
  color: #0099cc;
}

#front-container ul {
  margin: 0 auto;
  max-width: 300px;
}

#outer-map-container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  background-color: #FFF;
  text-align: center;
}

#outer-map-container h1 {
  font-size: 3.0em;
}

#outer-map-container h2 {
  font-size: 3.2em;
  color: #00cc99;
}

#outer-map-container ul {
  width: 64%;
  text-align: center;
  margin: 16px auto 0;
}

#outer-map-container ul li a {
  color: #2B2B2B;
  font-size: 1.0em;
  background-color: #00cc99;
  padding: 12px;
  line-height: 56px;
  border-radius: 4px;
}

#outer-map-container ul li a:hover {
  text-decoration: none;
  background-color: #CC0033;
  color: #FFF;
}

#legend {
  vertical-align: bottom;
  width: 160px;
  margin: -240px -240px 0 100px;
  position: absolute;
  border: 1px solid #00cc99;
  border-radius: 4px;
}

#legend .legend-header {
  font-weight: bold;
  text-align: right;
  padding: 4px 8px 4px 4px;
  background-color: #00cc99;
}

#legend .legend-body {
  text-align: left;
  padding: 4px 4px 4px 8px;
}

#about-container {
  background-color: #00cc99;
  padding: 56px 40px;
  width: 100%;
}

#about-header {
  padding-bottom: 40px;
}

#about-container h1 {
  font-size: 3.0em;
  color: #FFF;
}

#about-container dl {
  font-size: 1.4em;
}

#about-container dd {
  padding-bottom: 12px;
}

.scroll-icon {
  margin: 160px auto;
  font-size: 3.0em;
}

.scroll-icon a {
  color: #FFF;
}

.scroll-icon a:hover {
  background-color: transparent;
  text-decoration: none;
}
