/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#front-container {
  /*background-image: url('/assets/images/pikachu.jpg');*/
  /*background-size: contain;*/
  background-color: #0099cc;
  padding: 360px 0;
  width: 100%;
}

#front-container h1 {
  color: #FFF;
  font-size: 6.0em;
  display: inline;
  letter-spacing: 4px;
}

#front-container h1:hover {
  opacity: 0.8;
}

#front-container .no-fade {
  opacity: 1.0 !important;
}

#front-container .btn {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  margin: 64px 24px 40px;
  display: inline;
}

#front-container .btn:hover {
  background-color: #FFF;
  color: #0099cc;
}

#front-container ul {
  margin: 0 auto;
  max-width: 300px;
}

/*#page-image {
  width: 100%;
  background-color: grey;
  height: 400px;
  padding: 0;
  margin-bottom: 24px;

}*/

#outer-map-container {
  width: 100%;
  margin: 0 auto;
  /*padding: 0;*/
  padding: 40px 10px;
  background-color: #FFF;
  text-align: center;
}

/*.map-header {
  background-color: #00cc99;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}
*/
#trends-display {
  padding-bottom: 24px;
}

#outer-map-container ul li {
  padding: 12px 12px 0 0;
}

#outer-map-container ul li a {
  color: #2B2B2B;
  font-size: 1.4em;
}

.active a {
  font-weight: bold;
  color: #00cc33 !important;
  font-size: 2.8em !important;
}

#outer-map-container ul li a:hover {
  color: #00cc33;
  background-color: #FFF;
  text-decoration: none;
}

#legend {
  vertical-align: bottom;
  background-color: #00cc33;
  height: 160px;
  width: 160px;
  margin: -240px -240px 0 100px;
  position: absolute;
}

#legend .legend-header {
  font-weight: bold;
  text-align: right;
  padding: 8px;
}

#legend .legend-body {
  text-align: left;
  padding: 8px;
}

#about-container {
  background-color: #00cc99;
  padding: 0 0 40px;
  width: 100%;
}

#about-header {
  padding: 0 40px;
}

#about-container h1 {
  font-size: 3.0em;
  color: #FFF;
}

#about-container dl {
  padding: 12px;
  font-size: 1.4em;
}

#about-container h3 {
  padding: 24px 0 32px;
}

/* High-chart Map Style */
#map-wrapper {
  margin: 0 auto;
  display: inline-block;
}

#map-container {
  margin: 0 auto;
}

.scroll-icon {
  padding: 160px 0;
  font-size: 3.0em;
}

.scroll-icon a {
  color: #FFF;
}

.scroll-icon a:hover {
  background-color: transparent;
  text-decoration: none;
}
