<div id="about-container" class="container-fluid">
  <div id="about-header">
    <div class="row">
      <div class="col-md-4">
        <h1>about</h1>
      </div>
    </div>
    <div class="row">
    <div class="col-md-9 col-md-offset-2">
        <h3>Have you ever wondered what someone else was feeling? So often we interact with others, yet so rarely do we really delve into what is below the surface: our emotional disposition. Yet that said, embued inherently in each and every one of our social interactions is an emotional element; it's just more below the surface.</h3>
      </div>
    </div>
  </div>
  <div id="about-body">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <dl class="dl">
        <dt>Sentiment Index<dt>
          <dd>Using AlchemyAPI Sentiment Analysis tool, we are able to extract emotion from otherwise mechanical social media interactions.</dd>
          <dt>Trends</dt>
          <dd>By using geolocated, content-driven Twitter data, we pulled the most talked about trends in the United States to see what different countries across the world felt about them.</dd>
        </dl>
      </div>
    </div>
  </div>
  </div>
</div>
