<div id="about-container" class="container-fluid">
  <div id="about-header">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h1>about.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <h3>EmotionAll collects emotional data from Twitter and organizes it visually so that you might understand how the rest of the world feels about just about anything.</h3>

        <h3>EmotionAll utilizes the intrinsically emotional nature of our interactions and works to showcase this insight in a novel and exciting way. By analyzing Twitter trends and their tweets for sentiment value thanks to <a href="http://www.alchemyapi.com" target="_blank">AlchemyAPI</a>, the application is able to extract emotions from otherwise mechanical social media interactions. This data is then charted to a 'heat-map' of the world, which serves to dynamically display the current emotional state of any country in relation to a top Twitter trend.<br></h3>
        <h3>This data is fascinating. The implications are staggering. And it is the information that really speaks for itself — maybe we aren't so different from one another after all.</h3>
      </div>
    </div>
  </div>
  <div id="about-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <dl class="dl">
          <dt>Sentiment Index<dt>
            <dd>Using AlchemyAPI Sentiment Analysis tool, we are able to extract emotion from otherwise mechanical social media interactions.</dd>
            <dt>Trends</dt>
            <dd>By using geolocated, content-driven Twitter data, we pulled the most talked about trends in the United States to see what different countries across the world felt about them.</dd>
          </dl>
        </div>
        <div class="col-md-1">
          <img src="assets/images/alchemyAPI.png"/>
          <img src="assets/images/twitter.png"/>
        </div>
      </div>
    </div>
    <div class="text-center scroll-icon">
      <a href="#map" class="map-scroll-icon"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
  </div>
</div>
