<div id="front-container" class="container-fluid">
  <div class="row center-block">
    <div class="col-md-12 text-center">
      <h1 id="logo">emotionall <span class="glyphicon glyphicon-globe"></span></h1>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-md-12">
      <ul class="list-inline">
        <li>
          <form method="get" action="http://www.github.com/cicadas-2014/EmotionAll" target="_blank">
          <button class="btn">GitHub</button>
          </form>
        </li>
        <li>
          <button class="btn" id="btn-for-about">About</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-md-12 text-center scroll-icon">
      <a href="#map" id="top-scroll-icon"><span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
  </div>
</div>
