<div id="front-container" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="page-image">
      </div>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-md-12">
      <h1 class="text-center">EmotionAll</h1>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-md-12">
      <ul class="list-inline">
        <li>
          <button class="btn">GitHub</button>
        </li>
        <li>
          <button class="btn">Creators</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-md-12 text-center">
      <p style="color: white">Scroll</p>
    </div>
  </div>
</div>
