<div id="outer-map-container" class="container-fluid">
  <a name="map">
  <div class="map-header"></a>
  <div class="row center-block">
    <% first_trend = @current_trends.shift %>
    <h1>How does the world feel about ____?</h1>
    <h2><small>Pick a trend to see:</small></h2>
    <div id="trends-display">
      <ul class="list-inline">
        <li id="trend-<%= first_trend.id %>" class="active" >
          <%= link_to first_trend.name, trend_path(first_trend) %>
          <div class="errors-txt">
          </div>
        </li>
        <% @current_trends.each do |trend| %>
        <li id="trend-<%= trend.id %>">
          <%= link_to trend.name, trend_path(trend) %>
          <div class="errors-txt">
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
  <div class="row center-block">
    <div class="col-md-12">
      <div id="map-wrapper">
        <div id="map-container">
        </div>
        <table id="legend">
            <tr>
              <td class="legend-header">S</td>
              <td class="legend-body">Sentiment</td>
            </tr>
            <tr>
              <td class="legend-header">TS</td>
              <td class="legend-body">Total Sentiment</td>
            </tr>
            <tr>
              <td class="legend-header">TC</td>
              <td class="legend-body">Tweet Count</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
