<div id="trend-menu">
	<div id="trend-header">
		<h2>Pick a trend</h2>
	</div>
	<div id="trending-topics">
		<ul>

		</ul>
	</div>
</div>
<div id="map-wrapper">
  <div id="map-container"></div>
</div>