<div id="container-3" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Current Trends
              </a>
            </h3>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="list-unstyled">
                <% @current_trends.each do |trend| %>
                <li id="trend-<%= trend.id %>">
                  <%= link_to trend.name, trend_path(trend) %>
                  <div class="errors-txt">
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Past Trends
              </a>
            </h3>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <% @past_trends.each do |trend| %>
                <li id="trend-<%= trend.id %>">
                  <%= link_to trend.name, trend_path(trend) %>
                  <div class="errors-txt">
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-md-12">
      <div id="map-wrapper">
        <div id="map-container">
        </div>
      </div>
    </div>
  </div>
</div>
