<div id="trend-menu">
	<div id="trend-header">
		<h2>Pick a Trend:</h2>
	</div>
	<div id="trending-topics">
		<ul>
			<% @trends.each do |trend| %>
				<li><%= link_to trend.name, trends_path, :id => trend.id %></li>
			<% end %>
		</ul>
	</div>
</div>
