<div id="trend-menu">
	<div id="trend-header">
		<h2>Pick a Trend:</h2>
	</div>
	<div id="trending-topics">
		<ul>
			<% @trends.each do |trend| %>
				<li><%= trend %></li>
			<% end %>
		</ul>
	</div>
</div>
<div id="map-wrapper">
  <div id="map-container"></div>
</div>