<!DOCTYPE html>
<html>
<head>
  <title>EmotionAll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/maps/modules/map.js"></script>
  <script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
</head>
<body>
  <div id="container-1" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="page-image">
        </div>
      </div>
    </div>
    <div class="row center-block">
      <div class="col-md-12">
        <h1 class="text-center">EmotionAll</h1>
      </div>
    </div>
    <div class="row center-block">
      <div class="col-md-12">
        <ul class="list-inline">
          <li>
            <button class="btn">GitHub</button>
          </li>
          <li>
            <button class="btn">Creators</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row center-block">
      <div class="col-md-12 text-center">
        <p style="color: white">Scroll</p>
      </div>
    </div>
  </div>
  <div id="container-2" class="container-fluid">
    <div id="about-header">
      <div class="row">
        <div class="col-md-4">
          <h1>About</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <h3>Text about what we're doing and how we're doing it and where we got our data and how to use our map.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <dl class="dl">
          <dt>Sentiment Index<dt>
            <dd>Description of SI.</dd>
            <dt>Trends</dt>
            <dd>How we picked trends if we want.</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p style="color: white">Scroll</p>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
