<!DOCTYPE html>
<html>
<head>
  <title>EmotionAll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/maps/modules/map.js"></script>
  <script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

  <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

</head>
<body>

  <div id="wrapper">
    <div id="container"></div>
    <div id="info">
      <span class="f32"><span id="flag"></span></span>
      <h2></h2>
      <div class="subheader"></div>
      <div id="country-chart"></div>
    </div>
  </div>

<%= yield %>

</body>
</html>
